<p> <%= render partial: '/layouts/errors', locals: {object: @user}  %> </p>

<%= form_for(:user) do |f| %>
    <p>
    <%= f.label :email %>
    </p>
    <%= f.text_field :email, class: "w3-input w3-border" %>
    <p>
    <%= f.label :password %>
    </p>
    <%= f.password_field :password, class: "w3-input w3-border" %>
    <p>
    <%= f.submit "Login!" %>
    </p>
<% end %>