<%= render partial: '/layouts/errors', locals: {object: @ed_pursuit}  %>

<%= form_for(@ed_pursuit) do |f| %>
    <p>
    <%= f.label :ed_type_id, 'Education Type' %>
    </p>
    <%= f.collection_select :ed_type_id, EdType.all, :id, :name %>
    <p>
    <%= f.label :name %>
    </p>
    <%= f.text_field :name, class: "w3-input w3-border" %>
    <p>
    <%= f.label :link %>
    </p>
    <%= f.text_area :link, class: "w3-input w3-border" %>
    <p>
    <%= f.label :subject %>
    </p>
    <%= f.text_field :subject, class: "w3-input w3-border" %>
    <p>
    <%= f.label :short_description %>
    </p>
    <%= f.text_area :short_description, class: "w3-input w3-border" %>
    <p>
    <%= f.label :provider_id, 'Select Existing Provider' %>
    </p>
    <%= f.collection_select :provider_id, Provider.order_by_name, :id, :name, include_blank: 'Select One', class: "w3-input w3-border" %>
    <p>
    <p>
    <%= f.label :provider_id, 'Or Create A New Provider' %>
    </p>
    <%= f.fields_for :provider do |p| %>
      <p><%= p.label :name %></p>
      <p><%= p.text_field :name %></p>
    <% end %>
    <p>
    <%= f.label :instructor %>
    </p>
    <%= f.text_field :instructor, class: "w3-input w3-border" %>
    <p>
    <%= f.label :start_date, 'Start Date' %>
    </p>
    <%= f.date_select :start_date, class: "w3-input w3-border" %>
    <p>
    <%= f.label :duration_d, 'Duration (in Days)' %>
    </p>
    <%= f.text_field :duration_d, class: "w3-input w3-border" %>
    <p>
    <%= f.submit %>
    </p>
<% end %>