<h1><strong> Hey! <%= @user.email %> </strong></h1>
<h4> There are lots of things to learn. Grow yourself and keep track of your pursuits here. </h4>
<br>
User with most the most Goals: <%= @most_goals_user %>
<hr>
<h4><strong>Goals</strong></h4>
    <div class="w3-row w3-large">
    <% @user.goals.each do |goal| %>
      <div class="w3-col s6">
        <p> <%= link_to "#{goal.name}", goal_path(goal) %> </p>
      </div>
    <% end %>
    </div>
<hr>
<h4><strong>Educational Pursuits</strong></h4>
    <div class="w3-row w3-large">
    <% @user.ed_pursuits.each do |ep| %>
      <div class="w3-col s6">
        <p> <%= link_to "#{ep.name}", ed_pursuit_path(ep) %> </p>
      </div>
    <% end %>
    </div>
<hr>
<h4><strong>Notes</strong></h4>
    <div class="w3-row w3-large">
    <% @user.notes.each do |note| %>
      <div class="w3-col s6">
        <p> <%= link_to "#{note.title}", note_path(note) %> </p>
      </div>
    <% end %>
    </div>
<hr>