<%= render partial: '/layouts/errors', locals: {object: @goal}  %>

<%= form_for(@goal) do |f| %>
    <p>
    <%= f.label :name %>
    </p>
    <%= f.text_field :name %>
    <p>
    <%= f.submit %>
    </p>
<% end %>