<%= link_to "Login", login_path, class: "w3-bar-item w3-button w3-padding-16" %>
<%= link_to "Signup", signup_path, class: "w3-bar-item w3-button w3-padding-16" %>
<strong><div class="w3-bar-item w3-button w3-padding-16">
OR
</div></strong>
<%= link_to "Sign in with Google", '/auth/google_oauth2', class: "w3-bar-item w3-button w3-padding-16" %>
<%= link_to "Sign in with Facebook", '/auth/facebook', class: "w3-bar-item w3-button w3-padding-16" %>
<%= link_to "Sign in with Github", '/auth/github', class: "w3-bar-item w3-button w3-padding-16" %>